body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.hidden {
    display: none;
}

button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}
